# Unity build files and directories
[Bb]uild/
[Bb]uilds/
*.apk
*.aab
*.xcodeproj
*.xcworkspace
*.sln
*.exe
*.app
*.msi
*.zip
*.tar.gz
*.jar
*.dll
*.so
*.dylib
*.bc
*.pdb
*.pdb.meta
*.ipa

# Additional build directories (customizable if necessary)
Builds/
Library/
Logs/
Temp/
Tiny RPG Character Asset Pack v1.03 -Full 20 Characters/
Particles/